.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
  padding-top: 20px;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  -webkit-touch-callout: none !important;
  height: 100%;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.pressable-element {
  cursor: pointer;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.highlighted { background: yellow; }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 0px 5px 5px 5px;
}

#footer > .container {
  padding-left: 10px;
  padding-right: 10px;
}

.page-header {
  margin: 10px 0 10px !important;
}

.navbar {
  margin-bottom: 5px !important;
  min-height: 40px !important;
}

.navbar-lower {
  padding-top: 12px;
  padding-left: 1px;
  width: 100%;
}

/*.navbar-header {
 	float:none;
    width:100%;
    padding:10px;
}*/

/*.navbar-brand {
    font-size:18pt;
    font-weight: bold;
    float:none;
}*/

#bottomNav {
	padding:10px;
}

#bottomNav a {
    font-size:14pt;
    color:#ddd;
    text-decoration:none;
}

#bottomNav a:hover {
    color:#fff;
}

#bottomNavAppDetails {
  color: #fff !important;
}

.btn-transparent { border-color: transparent !important; background-color: transparent !important; }
.btn-transparent:hover { border-color: transparent !important; background-color: transparent !important; }
.icon { float: right; }
.help-block-inline {
  display: inline;
  color: #737373
}

.btn-fixed {
  width: 50px !important;
  font-weight: bold !important;
  margin: 2px !important;
}

.list-group-active {
  background-color: #FFF !important;
  color: #337ab7 !important;
  font-weight: bold !important;
}

.list-group-item-default {
    color: #000;
    background-color: #eee;
}

.panel-heading h3 {
    font-weight: bold !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 4px;
}

.full-panel-100px {
  height: 100px !important;
}

.full-panel-100pr {
  height: 100% !important;
}

.label-gap {
  margin-left: 2px;
}

.pointer {
    cursor: pointer;
}

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }

.well-white {
  background-color: #FFFFFF !important;
}

.mark-custom {
  background-color: #CECECE !important;
  color: #000000 !important;
}
