<p> <h4><strong>Current Version:</strong> <span class="label label-success">{[software_version]}</span></h4></p>
<p>The MLT Bible Module was developed using the MLT Module Template, <a href="https://github.com/psyclone241/mlt_plugin_template">soon to be available on GitHub</a>. The module templates are currently in development and therefore a private repository.</p>
<p>The KJV PCE Bible tool is available on GitHub, you may <a href="https://github.com/psyclone241/kjv-pce-api">download it here</a>.
