<div id="lookup_top" class="anchor"></div>
<div class="panel panel-default" uib-collapse="!data.search_mode">
  <div class="panel-heading">
       <h3 class="panel-title pull-left">Search</h3>
       <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="clearSearch(true)">
         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
       </button>
       <button type="button" class="btn btn-sm btn-default" ng-click="hideSearch()">
         <span class="glyphicon" ng-class="data.search_parameters.hide_panel ? 'glyphicon-chevron-right': 'glyphicon-chevron-down'" aria-hidden="true"></span>
       </button>
      <div class="clearfix"></div>
  </div>
  <div class="panel-body" uib-collapse="data.search_parameters.hide_panel">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="keyword" class="col-sm-2 control-label">Keyword(s):</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="keyword" ng-model="data.search_parameters.keywords.data" placeholder="keyword(s)">
        </div>
        <div class="text-center">
          <label class="radio-inline">
            <input type="radio" name="keyword_contains" id="keyword_contains" value="contains" ng-model="data.search_parameters.keywords.match"> Contains
          </label>
          <label class="radio-inline">
            <input type="radio" name="keyword_startswith" id="keyword_startswith" value="startswith" ng-model="data.search_parameters.keywords.match"> Starts
          </label>
          <label class="radio-inline">
            <input type="radio" name="keyword_endswith" id="keyword_endswith" value="endswith" ng-model="data.search_parameters.keywords.match"> Ends
          </label>
          <label class="radio-inline">
            <input type="radio" name="keyword_exact" id="keyword_exact" value="exact" ng-model="data.search_parameters.keywords.match"> Exact
          </label>
        </div>
      </div>
      <div class="form-group" ng-if="data.selected_book">
        <label for="limitto" class="col-sm-2 control-label">Limit to text in:</label>
        <div class="col-sm-offset-2 col-sm-10" ng-if="data.selected_book.book_name">
          <div class="radio">
            <label>
              <input type="radio" name="no_limit" id="no_limit" ng-model="data.search_parameters.limit_to" value=""> the Whole Bible
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10" ng-if="data.selected_book.section">
          <div class="radio">
            <label>
              <input type="radio" name="verses_in_section" id="verses_in_section" ng-model="data.search_parameters.limit_to" value="section"> the {[data.sections[data.selected_book.section]]}
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10" ng-if="data.selected_book.book_name">
          <div class="radio">
            <label>
              <input type="radio" name="verses_in_book" id="verses_in_book" ng-model="data.search_parameters.limit_to" value="book"> the current book, {[data.selected_book.book_name]}
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10" ng-if="data.selected_book.selected_chapter">
          <div class="radio">
            <label>
              <input type="radio" name="verses_in_chapter" id="verses_in_chapter" ng-model="data.search_parameters.limit_to" value="chapter"> the current chapter, {[data.selected_book.book_name]} {[data.selected_book.selected_chapter.chapter_id]}
            </label>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-success" ng-click="search()">Search</button>
        <button type="button" class="btn btn-default" ng-click="clearSearch()">Clear</button>
      </div>
    </form>
  </div>
</div>
<div ng-if="data.search_parameters.active && data.search_results.data && data.search_results.data.count > 0">
  <div class="well well-sm">
    <strong>Page:</strong> {[data.search_results.current_page]} / {[data.search_results.number_of_pages]}
    <span class="pull-right"><strong>Results:</strong> {[data.search_results.data.count]}</span>
  </div>
  <uib-pager total-items="data.search_results.data.count" items-per-page="data.search_results.items_per_page" ng-model="data.search_results.current_page"></uib-pager>
  <table class="table table-condensed table-striped table-hover">
    <!-- <tr>
      <th width="10px">B</th>
      <th width="10px">C</th>
      <th width="10px">V</th>
      <th>Text</th>
    </tr> -->
    <tr ng-repeat="verse in data.search_results.data.results |  offset: ((data.search_results.current_page*data.search_results.items_per_page) - data.search_results.items_per_page) | limitTo: data.search_results.items_per_page">
      <td>{[verse.book_abbr]}</td>
      <td>{[verse.chapter_id]}</td>
      <td>{[verse.verse_id]}</td>
      <td ng-bind-html="verse.verse_text | highlight:data.search_parameters.keywords.data"></td>
    </tr>
  </table>
  <div class="text-center">
    <uib-pagination direction-links="true" boundary-links="true" total-items="data.search_results.data.count" num-pages="data.search_results.number_of_pages" items-per-page="data.search_results.items_per_page" max-size="data.search_results.max_size" ng-model="data.search_results.current_page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</div>

<div ng-if="data.search_parameters.active && data.search_results.data && data.search_results.data.count <= 0">
  No verses matched your criteria
</div>
<div ng-if="data.loading_books">Loading....</div>
<div ng-if="!data.search_parameters.active && !data.loading_books">
  <div ng-if="!data.selected_book || data.select_another_book">
    <div id="book_block" class="anchor"></div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Select a Book:</h3>
      </div>
      <div class="panel-body">
        <input type="text" class="form-control" id="book_query" ng-model="data.book_query.book_name" placeholder="Book Name">
        <div class="text-center">
          <label class="radio-inline">
            <input type="radio" name="book_query_section_both" id="book_query_section_both" value="both" ng-model="data.book_query.section"> Both
          </label>
          <label class="radio-inline">
            <input type="radio" name="book_query_section_ot" id="book_query_section_ot" value="OT" ng-model="data.book_query.section"> Old
          </label>
          <label class="radio-inline">
            <input type="radio" name="book_query_section_nt" id="book_query_section_nt" value="NT" ng-model="data.book_query.section"> New
          </label>
        </div>
      </div>
      <div class="list-group">
        <a href="" ng-repeat="book in data.books | filter:sectionFilter | filter:bookFilter" ng-click="selectBook(book)" class="list-group-item" ng-class="book.book_id==data.selected_book.book_id ? 'list-group-active' : ''"><div id="anchor_book_{[book.book_id]}" class="anchor"></div>{[book.book_name]}<span class="glyphicon glyphicon-ok pull-right" aria-hidden="true" ng-if="book.book_id==data.selected_book.book_id" ng-click="clearBookSelection()"></span></a>
      </div>
    </div>
  </div>

  <div ng-if="data.chapter_range && !data.selected_book.selected_chapter || data.select_another_chapter && !data.select_another_book">
    <buttonrange heading="Chapter" headingclass="panel-primary" data="data.chapter_range" match="data.selected_book.selected_chapter.chapter_id" key="chapter" callback-fn="openChapter(arg1)"></buttonrange>
  </div>

  <div ng-if="data.selected_book.selected_chapter && data.verse_range  && !data.selected_book.selected_verse && !data.select_another_book && !data.select_another_chapter || data.select_another_verse">
    <buttonrange heading="Verse" headingclass="panel-primary" data="data.verse_range" match="data.selected_book.selected_verse" key="verse" callback-fn="openVerse(arg1)"></buttonrange>
  </div>

  <div ng-if="(data.selected_book.selected_verse && data.selected_book.text) && (!data.select_another_book && !data.select_another_chapter && !data.select_another_verse)">
    <div id="verse_block" class="anchor"></div>
    <div ng-if="data.reference_data.verses" class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      Only referenced verses shown, click the 'verse' button above to reset
    </div>
    <table class="table table-condensed">
      <tr
        ng-repeat="verse in data.selected_book.text"
        ng-class="{ 'list-group-item-info': verse.verse_id==data.selected_book.selected_verse }">
        <td class="lead" width="90%" ng-click="data.selected_book.selected_verse==verse.verse_id ? scrollToTopVerse() : openVerse(verse.verse_id)">
          <div class="{[verse.class]}" id="anchor_verse_{[verse.verse_id]}" class="anchor">
            <strong>{[verse.verse_id]}.</strong> {[verse.verse_text]}
          </div>
        </td>
        <td class="text-center vert-align">
          <button type="button" class="btn btn-transparent btn-lg" context-menu="verse_menu_options" model="'{[verse.id]}'">
            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
