<div class="container text-center">
  <p>
    <a class="btn btn-primary" href="#/lookup" role="button"><strong>Lookup Scripture Now >></strong></a>
  </p>
  <div class="row">
    <div class="col-lg-3">
    <h4><strong>Bible Study Plans</strong></h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4><strong>Bookmarks</strong></h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

    <h4><strong>Highlights</strong></h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>
</div>
