<!DOCTYPE html>
<html lang="en" ng-app="KJVPCE-Bible" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KJV-PCE-API v2 - Bible Module</title>


    <script src="/static/resources/bower_components/angular/angular.min.js"></script>
    <script src="/static/resources/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/static/resources/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/static/resources/bower_components/angular-touch/angular-touch.min.js"></script>

    <!-- Angular UI Bootstrap -->
    <script src="/static/resources/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/static/resources/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/resources/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/static/mod_bible/config.js"></script>
    <script src="/static/resources/angular/services/log-service.js"></script>
    <script src="/static/resources/angular/services/http-service.js"></script>
    <script src="/static/mod_bible/app.js"></script>

    <!-- Custom styles for this template -->
    <link href="/static/resources/css/mod_bible/style.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
      <!-- Top Navigation Bar -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header text-center">
            <a href="#/" class="navbar-brand">MLT Bible Module</a>
          </div>
        </div>
      </nav>

      <!-- This is where the main content for each section is displayed -->
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>

      <!-- Bottom Navigation Bar -->
      <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
          <div class="col-xs-3 text-center stuff"><a href="#/" title="Home"><i class="glyphicon glyphicon-home"></i></a></div>
          <div class="col-xs-2 text-center"><a href="#/plugins" title="Plugins"><i class="glyphicon glyphicon-briefcase"></i></a></div>
          <div class="col-xs-2 text-center"><a href="#/tools/add" title="Tools"><i class="glyphicon glyphicon-plus"></i></a></div>
          <div class="col-xs-2 text-center"><a href="#/lookup" title="Lookup"><i class="glyphicon glyphicon-book"></i></a></div>
          <!-- <div class="col-xs-2 text-center"><a href="#/lookup" title="Lookup"><i class="glyphicon glyphicon-search"></i></a></div> -->
          <div class="col-xs-3 text-center"><a href="#/settings" title="Settings"><i class="glyphicon glyphicon-cog"></i></a></div>
        </div>
      </div>
    </div>
  </body>
</html>
